[main]
<ip address>

[main:vars]
# required vars
ansible_ssh_user=<username>
ansible_become_password=<sudo password>
db_root_password=<mysql root password>
db_password=<nextcloud database password>
admin_username=<nextcloud admin username>
admin_password=<nextcloud admin password>
docker_project_name=<docker-compose project name>
docker_compose_dir=<directory of the docker-compose>
# backup_vars
backup_dir=<your local backup dir>
